{% extends 'admin/Base.html.twig'%}

{% block title %}Ajouter reclamation {% endblock %}
{% block body %}

<div class="" style='margin-left: 20% ;'>
    <div class="pagetitle">
      <h1>Nouveau reclamation</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
          <li class="breadcrumb-item">type reclamation </li>
          <li class="breadcrumb-item active">Nouvaeu type reclamation</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
{% endblock %}   